@page "{recipeId:int}"
@model Kulinarna.Web.DetailsModel
@{
}

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}



<h2>@Model.RecipeDTO.Name</h2>

<div>@Model.RecipeDTO.RecipeId</div>

<div>@Model.RecipeDTO.Content</div>

<div>@Model.RecipeDTO.Author</div>




<a asp-page="./Index" class="btn btn-link">Home <i class="fa fa-home"></i></a>


