@page "{currentpage:int?}"
@model RecipesModel
@{
    ViewData["Title"] = "Recipes";
}

<div class="text-center">
    <h1 class="display-4">Przepisownia</h1>
    <p>Najlepsze przepisy w mieście.</p>
</div>

<!--searchbyname-->

<form method="get">
    <div class="input-group">
        <input asp-for="SearchTerm" type="search" class="form-control" placeholder="Enter your favourite recipe">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>

<br />
<br />

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<div>
    <table class="table table-striped">

        @foreach (var recipe in Model.RecipesByName)
        {

            var roundedrating = Convert.ToInt32(Math.Round(recipe.AvgRating, MidpointRounding.AwayFromZero));


            <tr>
                <td>
                    <a asp-page="./Details" asp-route-recipeId="@recipe.RecipeId">@recipe.Name</a><br />
                    <span style="font-style: italic;float: left;color: #555;">by @recipe.AuthorName</span> <br />
                    @if (Model.CurrentUserId != null)
                    {
                        <a style="text-decoration:none" asp-page="./Rate" asp-route-recipeId="@recipe.RecipeId">
                            @for (int i = 0; i < roundedrating; i++)
                            {
                                <i class="fas fa-star"></i>
                            }
                            @for (int i = roundedrating; i < 5; i++)
                            {
                                <i class="far fa-star"></i>
                            }
                        </a>
                    }
                    else
                    {
                        @for (int i = 0; i < roundedrating; i++)
                        {
                            <i class="fas fa-star"></i>
                        }
                        @for (int i = roundedrating; i < 5; i++)
                        {
                            <i class="far fa-star"></i>
                        }
                    }
                </td>

                @if (Model.CurrentUserId != null)
                {

                    @if (Model.CurrentUserId == recipe.AuthorId)

                    {

                        <td><a asp-page="./Edit" asp-route-recipeId="@recipe.RecipeId">  <i class="fa fa-edit"></i></a></td>
                        <td><a asp-page="./Delete" asp-route-recipeId="@recipe.RecipeId">  <i class="fa fa-trash"></i></a></td>


                    }


                }



            </tr>

        }
    </table>
</div>

<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-page="/Index" asp-route-currentpage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>




<a asp-page=".\Edit" class="btn btn-primary">Add new</a>


<!--TO remove-->
@*<table class="table table-sm">
        @foreach (var claim in User.Claims)
        {
            <tr>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
            </tr>
        }

    </table>*@

<!--*****************************************-->