@page "{currentpage:int?}"
@model RecipesModel
@{
    ViewData["Title"] = "Recipes";
}

<div class="text-center">
    <a asp-page="/Index" style="text-decoration: inherit; color: inherit;"><h1 class="display-4">Recipes</h1></a>
    <p>The best recipes in the world.</p>
</div>

<!--searchbyname-->

<form method="get">
    <div class="input-group">
        <input asp-for="SearchTerm" type="search" class="form-control" placeholder="Search for recipes">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>

<br />
<br />

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}


<div class="row">
    @foreach (var recipe in Model.RecipesByName)
    {

        var roundedrating = Convert.ToInt32(Math.Round(recipe.AvgRating, MidpointRounding.AwayFromZero));


        <div class="pb-4 col-md-4 col-sm-6 pr-4 pl-4">

            <div class="card rounded" style=" min-height: 100%; color:black;">
                @*cards have the same height independently of the content which is inside, thanks to min-height:100%*@
                <div class="card-header">
                    @if (Model.CurrentUserId != null)
                    {
                        <a style="text-decoration: inherit; color:inherit;" asp-page="./Rate" asp-route-recipeId="@recipe.RecipeId">
                            @for (int i = 0; i < roundedrating; i++)
                            {
                                <i style="color:rgba(255,215,0)" class="fas fa-star"></i>
                            }
                            @for (int i = roundedrating; i < 5; i++)
                            {
                                <i style="color:rgba(255,215,0, 0.4);" class="fas fa-star"></i>
                            }
                        </a>
                    }
                    else
                    {

                        @for (int i = 0; i < roundedrating; i++)
                        {
                            <i style="color:rgba(255,215,0);" class="fas fa-star"></i>
                        }
                        @for (int i = roundedrating; i < 5; i++)
                        {
                            <i style="color:rgba(255,215,0, 0.4)" class="fas fa-star"></i>
                        }
                    }


                </div>
                <div class="card-body">

                    <a class="btn-link  text-truncate"><h5 class="card-title">@recipe.Name</h5></a>  @*text truncate makes the title fits in one line*@

                    <h6 class="card-subtitle mb-2 text-muted font-italic">by @recipe.AuthorName</h6>

                    <p class="card-text">
                        @recipe.Content<span class="text-truncate"> ...</span>

                        <a class="btn-link " style="display:block;" asp-page="./Details" asp-route-recipeId="@recipe.RecipeId">More</a>
                    </p>

                    @{ var ownRecipe = Model.CurrentUserId == recipe.AuthorId;

                    }
                    <br />
                    @if (!ownRecipe)
                    {
                        <a class="card-link"></a> @*Empty markups fill in the emptiness in a card in which user don't have special rights'*@
                        <a class="card-link"></a>
                    }
                    else
                    {
                        <a class="card-link" asp-page="./Edit" asp-route-recipeId="@recipe.RecipeId"><i class="fa fa-edit"></i></a>

                        <a class="card-link" asp-page="./Delete" asp-route-recipeId="@recipe.RecipeId"><i class="fa fa-trash"></i></a>
                    }
                </div>
            </div>
        </div>






    }
</div>


<div>
    <ul class="pagination pagination-sm pt-4 pb-4">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-page="/Index" asp-route-currentpage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>


<div class="p-4 text-center">
    <a asp-page=".\Edit" class="btn btn-primary">Add new</a>

</div>


